<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215588749421-938gicggdofa5c5t2vc66qrhu53iumg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215588749421-938gicggdofa5c5t2vc66qrhu53iumg6</string>
	<key>API_KEY</key>
	<string>AIzaSyBSZ_TbsgcAsNUtgNg6vYMBQ3MEGizxzGY</string>
	<key>GCM_SENDER_ID</key>
	<string>215588749421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.epiphany.coRat</string>
	<key>PROJECT_ID</key>
	<string>corat-124bb</string>
	<key>STORAGE_BUCKET</key>
	<string>corat-124bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215588749421:ios:5ceef530e19726704a3f64</string>
</dict>
</plist>